*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #efefef;
}
.header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgba(24,118,242,255);
    align-items: center;
    justify-content: space-evenly;
    gap: 45%;

}
.left-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;

}
.img-left-header{
    height: 20px;
}
.logo{
    height: 40px;
}
.img-left-header:hover{
    cursor: pointer;
}
.right-header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right-header .icon-search{
    height: 20px;
    position: absolute;
    z-index: 2;
    padding-left: 18px;
}
.right-header input{
    width: 350px;
    height: 36px;
    border: none;
    border-radius: 20px;
    position: relative;
    padding-left: 45px;
}
.status-header .img-right{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}
.status-header{
    display: flex;
}
.status-header span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #41db51;
    z-index: 5;
    border-radius: 50%;
    outline: 1px solid white;
    position: absolute;
    margin-left: 29px;
}
.status-header:hover{
    cursor: pointer;

}
.main{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;

}
.main-left{
    width: 25%;
    /* margin-left: 70px; */
}
.main-center{
    width: 36%;
}

.main-left .ul-list-social .list-social{
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
    justify-content: flex-start;
    align-items: center;
}
.list-social img{
    width: 30px;
    height: auto;
}
.see-more{
    display: block;
    color: #187af2;
    border-bottom: 1px solid #6c6262;
    width: 80%;
    padding-bottom: 35px;
}
.ul-list-shortcut{
    list-style: none;
}
.ul-list-shortcut .list-shortcut{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;

}
.list-shortcut img{
    width: 50px;
    height: auto;
    border-radius: 10px;
}
.list-shortcut span{
    color: #626266;
}
.story .ul-story{
    display: flex;
    list-style: none;
    /* gap: 20px; */
    justify-content: space-between;

}
.ul-story .list-story{

}
.list-story img{
    width: auto;
    height: 190px;
    border-radius: 5px;
}
.user{
    position: relative;
}
.icon-upload{
    position: absolute;
    width: 35px !important;
    height: 35px !important;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
}
.user-span{
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    /* margin: auto; */
    text-align: center;
    color: #efe3e3;
}
.user-1{
    position: relative;
}
.user-1 .member{
    position: absolute;
    width: 32px;
    height: auto;
    border-radius: 50%;
    left: 15px;
    top: 15px;
    outline: 3px #1876f2 solid;
}
.member-text{
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
    /* margin: auto; */
    text-align: center;
    color: #efe3e3;
}
.write-status{
    display: flex;
    background-color: #ffffff;
    height: 250px;
    gap: 15px;
    border-radius: 10px;
    margin-top: 15px;
}
.status-avatar{
    margin-top: 15px;
    margin-left: 20px;
}
.write-status .name-stt{
    display: block;
}
.status-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.info-status{
    margin-top: 15px;
}
.info-status .name-stt{
    color: #6a6a6a;
}
.info-status .stt-1{

    font-size: 20px;
    font-weight: 600;
}
.info-status textarea{
    width: 450px;
    height: 100px;
    border: none;
    resize: none;
    outline: none;
    /* padding-left: 10px; */
    padding-top: 10px;
    border-bottom: 1px inset;
}
textarea::placeholder{
    color: #6a6a6a;
    /* padding-left: 10px; */
}
.icon-stt{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon-stt img{
    width: 26px;
    height: auto;
}
.main-stt{
    height: auto;
}
.stt-post{
    /* width: 500px; */
    height: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 15px;
}
.stt-post-avatar{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
}

.stt-post-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}
.info-time span{
    display: block;
}
.stt-content{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    gap: 10px;
}
.stt-content p{
    /* width: fit-content;
    height: fit-content; */
}
.stt-content p span{
    text-decoration: underline;
    color: #187af2;
}
.stt-content img{
    width: 100%;
    
    border-radius: 10px;
}
.icon-post{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 25px;
    position: relative;
}
.icon-post img{
    width: 30px;
    height: 30px;
}
.icon-post .pro-right{
    position: absolute;
    border-radius: 50%;
    right: 50px;
}

.btn-load{
    width:100px;
    height: 30px;
    border: 1px solid #6a6a6a;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    color: #6a6a6a;
    cursor: pointer;
}
/* .main-stt:nth-child(4){
    padding-bottom: 20px;
} */
.pad{
    padding-bottom: 30px;
}
.main-right{
    width: 23%;
    height: 830px;
    background-color: #ffffff;
    border-radius: 10px;
}
.event{
    
    display: flex;
    justify-content: space-around;
    gap: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.event span{
    display: block;

}
.img-event img{
    width: 88%;
    margin-left: 20px;
    border-radius: 10px;
}
.calendar{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
.cal-13{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    z-index: 10;
}
.cal-13::before{
    content: "13";
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 30%;
    font-weight: 600;
    font-size: 20px;
    color: #626262;
    
}
.cal-13::after{
    content: "August";
    text-align: center;
    display: block;
    width: 100%;
    height: 25%;
    background-color: #1876f2;
    color: #ffffff;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.cal-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;

}
.cal-info span{
    display: block;
    /* padding-bottom: 3px; */
    
}
.cal-info .cal-info-1{
    font-size: 20px;
    color: #626262;
    font-weight: 600;
}
.cal-info .cal-info-2{
    font-size: 15px;
    color: #6c6262;
}
.cal-info .cal-info-3{
    font-weight: 500;
    font-size: 18px;
    color: #1876f4;
}
.cal-18{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 10px;
    z-index: 10;
}
.cal-18::before{
    content: "18";
    display: block;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 30%;
    font-weight: 600;
    font-size: 20px;
    color: #626262;
    
}
.cal-18::after{
    content: "January";
    text-align: center;
    display: block;
    width: 100%;
    height: 25%;
    background-color: #1876f2;
    color: #ffffff;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.chat{

}
.user-chat-1{
    display: flex;
    align-items: center;
    position: relative;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 20px;

}
.user-chat-1 img{
    width: 64px;
    height: 64px;
    border-radius: 50%;

}
.user-chat-1::before{
    content: "";

    display: block;
    width: 10px;
    height: 10px;
    background-color: #41db51;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    bottom: 0;
    margin-left: 52px;
    margin-bottom: 10px;
    outline: #ffffff 2px solid;

}
.user-chat-1 span{
    color: #6c6262;
}
.span-event{
    color: #1876f4;
}
.footer{
    width: 100%;
    height: 44px;
    background-color: #1876f2;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
}